# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.env_*
*.env
*BAK
*BAK*
/bin/
*/log/

dist/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/
*/vendor/
*/node_modules/
*/bin/

# Go workspace file
go.work
go.work.sum

# env file
.env

/.idea
*.backup
*.backup*
bkp
env
/tests/log/
/tests/cert/
/.vscode
/*_linux_*
/*_windows_*
/*_darwin_*
*.*.sql
*_debug_*
*.log
*.log.*
tests/**/*
*_linux_amd64*
*/docs/mcp_implementation
*.sarif
.codex/config.toml
.kubex/main-instructions.md
.notes/logz-full_d.lkt.txt
.claude/
CLAUDE.md
.venv-hooks
.notes/entry.go
.notes/LOGZ_V2_CORE.lkt.txt
.notes/NEW_LOGZ_TEST.lkt.txt
.notes/.bak/entry.go
.notes/.bak/fields.go
.notes/.bak/levels.go
.notes/.bak/logger.go
.notes/module/module.go
.notes/module/usage.go
.notes/module/wrpr.go
.notes/module/info/application.go
.notes/module/info/manifest.json
.notes/module/kbx/defaults.go
.notes/module/kbx/init_args.go
.notes/module/kbx/types.go
.notes/module/kbx/utils.go
.notes/module/version/semantic.go
.notes/v2/LOGZ_V2_CORE.lkt.txt
.notes/v2/internal/core/entry_decoder.go
.notes/v2/internal/core/entry.go
.notes/v2/internal/core/formatter.go
.notes/v2/internal/core/hooks.go
.notes/v2/internal/core/iobridge.go
.notes/v2/internal/core/level.go
.notes/v2/internal/core/logger.go
.notes/v2/internal/core/record.go
.notes/logz_global.go
.notes/logz.lkt.txt
.notes/core/entry.go
.notes/core/fields.go
.notes/core/levels.go
.notes/core/logger.go
.notes/logz_v2-full.lkt.txt
.venv-hooks
.venv-hooks
.notes/RECOVER/logz_v2-full.lkt.txt
.notes/RECOVER/logz-root-api.lkt.txt
.notes/RECOVER/NEW_LOGZ_TEST.lkt.txt
.notes/RECOVER/reciclavel_sem_separar.lkt.txt
.notes/RECOVER/logz_new_1/logz_global.go
.notes/RECOVER/logz_new_1/core/entry.go
.notes/RECOVER/logz_new_1/core/fields.go
.notes/RECOVER/logz_new_1/core/levels.go
.notes/RECOVER/logz_new_1/core/logger.go
.notes/RECOVER/logz_new_1/formatter/formatter.go
.notes/RECOVER/logz_new_1/formatter/json_formatter.go
.notes/RECOVER/logz_new_1/formatter/minimal_formatter.go
.notes/RECOVER/logz_new_1/formatter/pretty_formatter.go
.notes/RECOVER/logz_new_1/writer/dynamic_writer.go
.notes/RECOVER/logz_new_1/writer/io_writer.go
.notes/RECOVER/logz_new_1/writer/multi_writer.go
.notes/RECOVER/logz_new_1/writer/writer.go
.notes/RECOVER/logz_root_1/formatters/table.go
.notes/RECOVER/logz_root_1/formatters/text.go
.notes/RECOVER/logz_root_1/integrations/prometheus.go
.notes/RECOVER/logz_root_1/notifiers/notifier.go
.notes/RECOVER/logz_root_1/readers/reader.go
.notes/RECOVER/logz_root_1/service/http.go
.notes/RECOVER/logz_root_1/writers/multi_writer.go
.notes/RECOVER/logz_root_1/writers/writer.go
.notes/RECOVER/logz_v2_1/.nvmrc
.notes/RECOVER/logz_v2_1/.secrets.baseline
.notes/RECOVER/logz_v2_1/docker-compose.yml
.notes/RECOVER/logz_v2_1/Dockerfile
.notes/RECOVER/logz_v2_1/go.mod
.notes/RECOVER/logz_v2_1/LICENSE
.notes/RECOVER/logz_v2_1/logz_global.go
.notes/RECOVER/logz_v2_1/logz.go
.notes/RECOVER/logz_v2_1/Makefile
.notes/RECOVER/logz_v2_1/examples/basic/main.go
.notes/RECOVER/logz_v2_1/examples/extended/main.go
.notes/RECOVER/logz_v2_1/interfaces/dynamic_formatter.go
.notes/RECOVER/logz_v2_1/interfaces/entry.go
.notes/RECOVER/logz_v2_1/interfaces/hooks.go
.notes/RECOVER/logz_v2_1/interfaces/logger.go
.notes/RECOVER/logz_v2_1/interfaces/writer.go
.notes/RECOVER/logz_v2_1/internal/core/config.go
.notes/RECOVER/logz_v2_1/internal/core/entry_decoder.go
.notes/RECOVER/logz_v2_1/internal/core/entry.go
.notes/RECOVER/logz_v2_1/internal/core/iobridge.go
.notes/RECOVER/logz_v2_1/internal/core/logger.go
.notes/RECOVER/logz_v2_1/internal/core/utils.go
.notes/RECOVER/logz_v2_1/internal/formatter/formatter.go
.notes/RECOVER/logz_v2_1/internal/formatter/minimal_formatter.go
.notes/RECOVER/logz_v2_1/internal/formatter/pretty_formatter.go
.notes/RECOVER/logz_v2_1/internal/formatter/text_formatter.go
.notes/RECOVER/logz_v2_1/internal/manager/manager.go
.notes/RECOVER/logz_v2_1/internal/manager/processor.go
.notes/RECOVER/logz_v2_1/internal/manager/stages.go
.notes/RECOVER/logz_v2_1/internal/manager/utils.go
.notes/RECOVER/logz_v2_1/internal/manager/control/flags.go
.notes/RECOVER/logz_v2_1/internal/manager/control/secflags.go
.notes/RECOVER/logz_v2_1/internal/manager/control/stages.go
.notes/RECOVER/logz_v2_1/internal/manager/control/state.go
.notes/RECOVER/logz_v2_1/internal/module/module.go
.notes/RECOVER/logz_v2_1/internal/module/usage.go
.notes/RECOVER/logz_v2_1/internal/module/wrpr.go
.notes/RECOVER/logz_v2_1/internal/module/control/secflags.go
.notes/RECOVER/logz_v2_1/internal/module/control/state.go
.notes/RECOVER/logz_v2_1/internal/module/info/application.go
.notes/RECOVER/logz_v2_1/internal/module/info/control.go
.notes/RECOVER/logz_v2_1/internal/module/info/types.go
.notes/RECOVER/logz_v2_1/internal/module/kbx/config.go
.notes/RECOVER/logz_v2_1/internal/module/kbx/defaults.go
.notes/RECOVER/logz_v2_1/internal/module/kbx/enrty.go
.notes/RECOVER/logz_v2_1/internal/module/kbx/errors.go
.notes/RECOVER/logz_v2_1/internal/module/kbx/init_args.go
.notes/RECOVER/logz_v2_1/internal/module/kbx/level.go
.notes/RECOVER/logz_v2_1/internal/module/kbx/typeinfo.go
.notes/RECOVER/logz_v2_1/internal/module/kbx/utils.go
.notes/RECOVER/logz_v2_1/internal/module/version/semantic.go
.notes/RECOVER/logz_v2_1/internal/writer/dynamic_writer.go
.notes/RECOVER/logz_v2_1/internal/writer/io_writer.go
.notes/RECOVER/logz_v2_1/internal/writer/multi_writer.go
.notes/RECOVER/logz_v2_1/internal/writer/writer.go
.notes/RECOVER/logz_v2_1/tests/prometheus_test.go
.notes/RECOVER/target/integrations/prometheus.go
.notes/RECOVER/target/notifiers/notifier.go
.notes/RECOVER/target/service/http.go
